
@font-face {
	font-family: 'VAGRoundedStd';
	font-style:normal;
	font-weight:bold;
	src: url('../fonts/VAGRoundedStd-Bold.eot?') format('eot'), 
	     url('../fonts/VAGRoundedStd-Bold.otf')  format('opentype'),
	     url('../fonts/VAGRoundedStd-Bold.woff') format('woff'), 
	     url('../fonts/VAGRoundedStd-Bold.ttf')  format('truetype'),
	     url('../fonts/VAGRoundedStd-Bold.svg#VAGRoundedStd-Bold') format('svg');
}
