
@font-face {
	font-family: 'Mistral';
        font-weight:400;
        font-style:normal;
	src: url('../fonts/Mistral.eot?') format('eot'), 
	     url('../fonts/Mistral.woff') format('woff'), 
	     url('../fonts/Mistral.ttf')  format('truetype'),
	     url('../fonts/Mistral.svg#Mistral') format('svg');
}
